{% extends 'layout.html.twig' %}

{% block page_title %}Tabler bundler context{% endblock %}
{% block page_pretitle %}Available Tabler configurations{% endblock %}

{% block page_content %}
    {% import '@Tabler/components/flash.html.twig' as flash_macro %}

    <div class="row">
        <div class="col-md-12">
            <p>
                There is a global twig object available, that you can use to fetch some global configurations
                about the Table theme settings.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>You have access to the following configurations within your twig template:</p>
            <pre>
                {%- verbatim -%}
{% set isDarkMode = tabler_bundle.darkMode %}
{% set isBoxedLayout = tabler_bundle.boxedLayout %}
{% set isRightToLeft = tabler_bundle.rightToLeft %}
{% set isRightToLeft = tabler_bundle.condensedUserMenu %}
{% set isCondensedNavbar = tabler_bundle.condensedNavbar %}
{% set logoUrl = tabler_bundle.logoUrl %}
                {%- endverbatim -%}
            </pre>

            <p>With these functions, you can simply adapt your templates if a configured setting is active:</p>
            <pre>
                {%- verbatim -%}
{% if tabler_bundle.darkMode %}
    Display dark mode content only
{% endif %}
                {%- endverbatim -%}
            </pre>

            <p>All functions not mentioned above ( eg. `options`, `hasOption`, `seOption`) are not not covered by our BC promise!</p>
        </div>
    </div>

{% endblock %}
