{% extends 'layout.html.twig' %}

{% block page_title %}Tabler bundler context{% endblock %}
{% block page_subtitle %}Available Tabler configurations{% endblock %}

{% block page_content %}
    {% import '@Tabler/components/flash.html.twig' as flash_macro %}

    <div class="row">
        <div class="col-md-12">
            <p>
                You have access to the following configurations within your twig template.
            </p>
            {% if app.environment == 'dev' %}
                {% include 'default/context_dev.html.twig' %}
            {% else %}
                {{ flash_macro.flash('warning', 'You are not running in "dev" environment, so dump() is not available.') }}
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Some code examples</h3>

            <p>Dump the Tabler helper:</p>
            <pre>
                {%- verbatim -%}
{{ dump(tabler_bundle) }}
                {%- endverbatim -%}
            </pre>

            <p>Display a user avatar:</p>
            <pre>
                {%- verbatim -%}
{% import "@Tabler/components/avatar.html.twig" as avatar_macro %}
{{ avatar_macro.avatar(user, 'md')  }}
                {%- endverbatim -%}
            </pre>

            <p>Check for a config setting:</p>
            <pre>
                {%- verbatim -%}
{% if tabler_bundle.darkMode %}
    Display dark mode
{% endif %}
                {%- endverbatim -%}
            </pre>
        </div>
    </div>

{% endblock %}
