{% extends 'layout.html.twig' %}

{% block page_title %}Documentation{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb breadcrumb-alternate" aria-label="breadcrumbs">
    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
    {% if chapter != 'index' %}
    <li class="breadcrumb-item"><a href="{{ path('documentation') }}">Documentation</a></li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page"><a href="javascript:void(0)">{{ chapter == 'index' ? 'Documentation' : chapter|upper }}</a></li>
</ol>
{% endblock %}

{% block page_content %}
    {% embed '@Tabler/embeds/card.html.twig' %}
        {% block box_body %}
            {{ docs|markdown }}
        {% endblock %}
    {% endembed %}
{% endblock %}
