{% extends '@Tabler/wizard.html.twig' %}
{% from '@Tabler/components/button.html.twig' import button %}
{% from '@Tabler/components/buttons.html.twig' import link_button %}
{% from '@Tabler/components/progress_bar.html.twig' import progress_bar %}

{% block title %}Wizard demo{% endblock %}

{% block container_size %}container-tight{% endblock %}

{% block wizard_content %}
    <div class="card-body text-center py-4 p-sm-5">
        <img src="{{ asset('images/undraw_appreciation.png') }}" height="120" class="mb-2" alt="">
        <br>
        <small>Image by <a href="https://undraw.co/" target="_blank">Katerina Limpitsouni</a></small>
        <h1 class="mt-5">Welcome to Tabler!</h1>
        <p class="text-muted">Tabler comes with tons of well-designed components and features. Start your adventure with Tabler and make your dashboard great again.</p>
    </div>
    <div class="hr-text hr-text-center hr-text-spaceless">your data</div>
    <div class="card-body">
        <div class="mb-3">
            <label class="form-label">Create your Tabler URL</label>
            <div class="input-group input-group-flat">
                    <span class="input-group-text">
                      https://tabler.io/
                    </span>
                <input type="text" class="form-control ps-1" autocomplete="off">
            </div>
            <div class="form-hint">Choose a URL that describes you or your business in a concise way. Make it short and easy to remember so you can share links with ease.</div>
        </div>
    </div>
{% endblock %}

{% block wizard_progress_bar %}
    {{ progress_bar({current: percent, max: 100, min: 0}) }}
{% endblock %}

{% block wizard_previous_button %}
    {{ link_button('Take me home'|trans({}, 'TablerBundle'), path('homepage'), false, 'link') }}
{% endblock %}

{% block wizard_next_button %}
    {{ button(false, { title : 'Next'|trans({}, 'TablerBundle'), combined: true, url: path('wizard', {'page': page + 1}) }, 'primary') }}
{% endblock %}
