<a class="btn" data-bs-toggle="modal" href="#status" role="button">
    Toggle modal: status
</a>

{% embed '@Tabler/embeds/modal.html.twig' with {id: 'status', status: 'success', header: false} %}
    {% block modal_size 'modal_sm' %}
    {% block modal_body %}
        <div class="text-center">
            <i class="fas fa-check fa-3x mb-3 text-success"></i>
            <h2>Changes saved!</h2>
        </div>
    {% endblock %}
{% endembed %}
