{% extends '@Tabler/security-cover.html.twig' %}

{% block logo_login %}Tabler Demo - Login!{% endblock %}
{% block login_form_start %}
<p>
    Please use <strong>admin</strong> / <strong>password</strong> to login!
</p>
{% endblock %}
