{% extends 'layout.html.twig' %}

{% block page_title %}Carousel demo{% endblock %}
{% block page_pretitle %}Using carousel macro{% endblock %}

{% block page_content %}
    {% embed '@Tabler/embeds/card.html.twig' %}
        {% block box_title %}The "carousel" macro{% endblock %}
        {% block box_body_class %}p-0{% endblock %}
        {% block box_body %}
            <p class="p-2 pt-3">
                Use it like this:
                <code>
                    {% verbatim %}
                    {% from '@Tabler/components/carousel.html.twig' import carousel %}
                    {% endverbatim %}
                </code>
            </p>
            {% set importTpl = "{% from '@Tabler/components/carousel.html.twig' import carousel %}" %}
            {% set codeTemplates = ["
{% set items = [{
    'image': 'https://via.placeholder.com/640x360/1485bc/ffffff?text=Image+0',
}, {
    'customContent': '<div class=\"d-block w-100 bg-warning\" style=\"height: 348px\"><h1>Hello World</h1></div>',
}, {
    'image': 'https://via.placeholder.com/640x360/9dbf00/ffffff?text=Image+1',
    'title': 'SOME Fancy Title',
    'description': 'Lorem Ipsum NO HTML',
}, {
    'image': 'https://via.placeholder.com/640x360/bc147a/ffffff?text=Image+2',
}, {
    'image': 'https://via.placeholder.com/640x360/1454bc/ffffff?text=Image+3',
}] %}
{% set options = {
    'interval': 1500,
    'indicators': true,
} %}
{{ carousel(items, options) }}
", "
{% set items = [{
    'image': 'https://via.placeholder.com/640x360/1485bc/ffffff?text=Image+0',
}, {
    'customContent': '<div class=\"d-block w-100 bg-warning\" style=\"height: 348px\"><h1>Hello World</h1></div>',
}, {
    'image': 'https://via.placeholder.com/640x360/9dbf00/ffffff?text=Image+1',
    'title': 'SOME Fancy Title',
    'description': 'Lorem Ipsum NO HTML',
}, {
    'image': 'https://via.placeholder.com/640x360/bc147a/ffffff?text=Image+2',
}, {
    'image': 'https://via.placeholder.com/640x360/1454bc/ffffff?text=Image+3',
}] %}
{% set options = {
    'interval': false,
    'controls': true,
    'indicators': true,
    'indicatorsType': 'thumbs',
    'indicatorsOrientation': 'vertical',
} %}
{{ carousel(items, options) }}
"] %}
            <table class="table" style="width: 100%">
                <thead>
                <tr>
                    <th>Rendered carousel</th>
                    <th>Used code</th>
                </tr>
                </thead>
                <tbody>
                {% for tpl in codeTemplates %}
                    <tr>
                        <td style="width: 50%">
                            {{ include(template_from_string(importTpl ~ tpl)) }}
                        </td>
                        <td>
                            <pre>{{ tpl }}</pre>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    {% endembed %}

{% endblock %}
