{% extends 'layout.html.twig' %}

{% block page_title %}Modal demo{% endblock %}
{% block page_pretitle %}Using "modal" embed{% endblock %}

{% block page_actions %}
    <div class="btn-list">
        <a href="https://getbootstrap.com/docs/5.0/components/modal/" target="_blank" class="btn btn-white">
            Bootstrap Docs
        </a>
        <a href="https://preview.tabler.io/modals.html" target="_blank" class="btn btn-primary d-none d-sm-inline-block">
            Tabler Demo
        </a>
    </div>
{% endblock %}

{% block page_content %}
    {% embed '@Tabler/embeds/card.html.twig' %}
        {% block box_title %}The "modal" embed{% endblock %}
        {% block box_body_class %}p-0{% endblock %}
        {% block box_body %}
            <p class="p-2 pt-3">
                If you want to show an `Offcanvas`, you can set the {hidden : false} option, see the example "off-oc".
            </p>
            {% set codeTemplates = {
'full':
"{% embed '@Tabler/embeds/modal.html.twig' with {id: 'full'} %}
    {% block modal_title 'A modal example' %}
    {% block modal_body %}
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda ea est, eum exercitationem
        illum itaque laboriosam magni necessitatibus, nemo nisi numquam quae reiciendis repellat sit soluta.
        Aut!
    {% endblock %}
    {% block modal_footer %}
        <div class=\"w-100\">
            <div class=\"row\">
                <div class=\"col\"><a href=\"#\" class=\"question-confirm btn btn-danger w-100\" data-bs-dismiss=\"modal\">Confirm</a></div>
                <div class=\"col\"><a href=\"#\" class=\"question-cancel btn w-100\" data-bs-dismiss=\"modal\">Cancel</a></div>
            </div>
        </div>
    {% endblock %}
{% endembed %}",

'no-header':
"{% embed '@Tabler/embeds/modal.html.twig' with {id: 'no-header', header: false} %}
    {% block modal_size 'modal_sm' %}
    {% block modal_body %}
        <div class=\"text-center\">
            <i class=\"fas fa-question fa-3x mb-3 text-danger\"></i>
            <h2>Do you really want to delete that?</h2>
        </div>
    {% endblock %}
    {% block modal_footer %}
        <div class=\"col text-center\"><a href=\"#\" class=\"btn btn-primary\" data-bs-dismiss=\"modal\">Close</a></div>
    {% endblock %}
{% endembed %}",

'no-close':
"{% embed '@Tabler/embeds/modal.html.twig' with {id: 'no-close', close: false} %}
    {% block modal_title 'A modal example' %}
    {% block modal_size 'modal_sm' %}
    {% block modal_body %}Foo Bar{% endblock %}
{% endembed %}",

'question':
"{% embed '@Tabler/embeds/modal.html.twig' with {id: 'question', status: 'info', header: false} %}
    {% block modal_size 'modal_sm' %}
    {% block modal_body %}
        <div class=\"text-center\">
            <i class=\"fas fa-heart fa-3x mb-3 text-info\"></i>
            <h2>Happy to see you here!</h2>
        </div>
    {% endblock %}
    {% block modal_footer %}
        <div class=\"w-100\">
            <div class=\"row\">
                <div class=\"col\"><a href=\"#\" class=\"question-confirm btn btn-info w-100\" data-bs-dismiss=\"modal\">Love you too</a></div>
                <div class=\"col\"><a href=\"#\" class=\"question-cancel btn w-100\" data-bs-dismiss=\"modal\">Thanks</a></div>
            </div>
        </div>
    {% endblock %}
{% endembed %}",

'status':
"{% embed '@Tabler/embeds/modal.html.twig' with {id: 'status', status: 'success', header: false} %}
    {% block modal_size 'modal_sm' %}
    {% block modal_body %}
        <div class=\"text-center\">
            <i class=\"fas fa-check fa-3x mb-3 text-success\"></i>
            <h2>Changes saved!</h2>
        </div>
    {% endblock %}
{% endembed %}",

'form':
"{% embed '@Tabler/embeds/modal.html.twig' with {id: 'form'} %}
    {% block modal_size 'modal_sm' %}
    {% block modal_title 'Add a new team' %}
    {% block modal_body %}
        <div class=\"row mb-3 align-items-end\">
            <div class=\"col-auto\">
                <a href=\"#\" class=\"avatar avatar-upload rounded\">
                    <span class=\"avatar-upload-text\">Add</span>
                </a>
            </div>
            <div class=\"col\">
                <label class=\"form-label\">Name</label>
                <input type=\"text\" class=\"form-control\">
            </div>
        </div>
        <div class=\"mb-3\">
            <label class=\"form-label\">Pick your team color</label>
            <div class=\"row g-2\">
                <div class=\"col-auto\">
                    <label class=\"form-colorinput\">
                        <input name=\"color\" type=\"radio\" value=\"dark\" class=\"form-colorinput-input\">
                        <span class=\"form-colorinput-color bg-dark\"></span>
                    </label>
                </div>
                <div class=\"col-auto\">
                    <label class=\"form-colorinput form-colorinput-light\">
                        <input name=\"color\" type=\"radio\" value=\"white\" class=\"form-colorinput-input\" checked=\"\">
                        <span class=\"form-colorinput-color bg-white\"></span>
                    </label>
                </div>
                <div class=\"col-auto\">
                    <label class=\"form-colorinput\">
                        <input name=\"color\" type=\"radio\" value=\"blue\" class=\"form-colorinput-input\">
                        <span class=\"form-colorinput-color bg-blue\"></span>
                    </label>
                </div>
                <div class=\"col-auto\">
                    <label class=\"form-colorinput\">
                        <input name=\"color\" type=\"radio\" value=\"azure\" class=\"form-colorinput-input\">
                        <span class=\"form-colorinput-color bg-azure\"></span>
                    </label>
                </div>
                <div class=\"col-auto\">
                    <label class=\"form-colorinput\">
                        <input name=\"color\" type=\"radio\" value=\"indigo\" class=\"form-colorinput-input\">
                        <span class=\"form-colorinput-color bg-indigo\"></span>
                    </label>
                </div>
                <div class=\"col-auto\">
                    <label class=\"form-colorinput\">
                        <input name=\"color\" type=\"radio\" value=\"purple\" class=\"form-colorinput-input\">
                        <span class=\"form-colorinput-color bg-purple\"></span>
                    </label>
                </div>
                <div class=\"col-auto\">
                    <label class=\"form-colorinput\">
                        <input name=\"color\" type=\"radio\" value=\"pink\" class=\"form-colorinput-input\">
                        <span class=\"form-colorinput-color bg-pink\"></span>
                    </label>
                </div>
                <div class=\"col-auto\">
                    <label class=\"form-colorinput\">
                        <input name=\"color\" type=\"radio\" value=\"red\" class=\"form-colorinput-input\">
                        <span class=\"form-colorinput-color bg-red\"></span>
                    </label>
                </div>
                <div class=\"col-auto\">
                    <label class=\"form-colorinput\">
                        <input name=\"color\" type=\"radio\" value=\"orange\" class=\"form-colorinput-input\">
                        <span class=\"form-colorinput-color bg-orange\"></span>
                    </label>
                </div>
                <div class=\"col-auto\">
                    <label class=\"form-colorinput\">
                        <input name=\"color\" type=\"radio\" value=\"yellow\" class=\"form-colorinput-input\">
                        <span class=\"form-colorinput-color bg-yellow\"></span>
                    </label>
                </div>
                <div class=\"col-auto\">
                    <label class=\"form-colorinput\">
                        <input name=\"color\" type=\"radio\" value=\"lime\" class=\"form-colorinput-input\">
                        <span class=\"form-colorinput-color bg-lime\"></span>
                    </label>
                </div>
            </div>
        </div>
        <div>
            <label class=\"form-label\">Additional info</label>
            <textarea class=\"form-control\"></textarea>
        </div>
    {% endblock %}
    {% block modal_footer %}
        <button type=\"button\" class=\"btn me-auto\" data-bs-dismiss=\"modal\">Close</button>
        <button type=\"button\" class=\"btn btn-primary\" data-bs-dismiss=\"modal\">Add Team</button>
    {% endblock %}
{% endembed %}",

            } %}
            <table class="table" style="width: 100%">
                <thead>
                <tr>
                    <th>Click to show</th>
                    <th>Used code</th>
                </tr>
                </thead>
                <tbody>
                {% for modal_id, tpl in codeTemplates %}
                    <tr>
                        <td style="width: 30%">
                            {{ include(template_from_string(tpl)) }}
                            <a class="btn" data-bs-toggle="modal" href="#{{ modal_id }}" role="button">
                                Toggle modal: {{ modal_id }}
                            </a>
                        </td>
                        <td>
                            <pre><code>{{ tpl }}</code></pre>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    {% endembed %}

{% endblock %}
