{% set off_id = "start-oc" %}

<a class="btn" data-bs-toggle="offcanvas" href="#{{ off_id }}" role="button" aria-controls="offcanvasStart">
    Toggle offcanvas: {{ off_id }}
</a>

{% embed '@Tabler/embeds/offcanvas.html.twig' with {id: off_id, position : 'start'} %}
    {% block offcanvas_title 'Start offcanvas' %}
{% endembed %}
